/* Цвет основного текста #212121 */
/* цвет дополнительного текста #757575 */
/* Белый цвет #FFFFFF */
/* Лого цвет: черный #000000 синий #2196F3 */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --hero-title-color: #FFFFFF;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    Letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
/* Хедер */
.logo {
    color:#000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo span {
    color: var(--accent-color);
}
.contacts a {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .current {
    color: var(--accent-color);
}
.contacts a {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.navigation a:hover, .navigation a:focus {
    color: var(--accent-color);
}
.contacts a:hover, .contacts a:focus {
    color: var(--accent-color);
}
/* Мейн */
.hero > .hero-title {
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero {
    background-color: #2F303A;
}
/* Кнопка */
.hero-btn {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: inherit;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.hero-btn.primary {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
}
.section-subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section p {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.work-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 }
 .team-title {
     line-height: 1.17;
     text-align: center;
     font-size: 36px;
 }
.team p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 400;
}
.team-list h3 {
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}
/* Футер */
.footer-content {
    background-color: #2F303A;
}
.footer-content a {
    color: var(--hero-title-color);
    text-decoration: none;
}
.footer-content span {
    color: var(--accent-color);
}
.address a {
    color: var(--hero-title-color)
}
.footer-content a:hover,
.footer-content a:focus {
color: var(--accent-color);
}
.address .map {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}
.contact-list {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}
address {
    font-style: normal;
}
/* Портфоліо */
.section h2 {
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
}
.section p {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.hero-btn:hover, .hero-btn:focus {
    color: var(--accent-color);
}